__pycache__/
*.py[cod]
*.pyo
*.log

.venv/
venv/
env/
pro/

.env
.env.*

db.sqlite3
media/
staticfiles/

.vscode/
.idea/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_Store
Thumbs.db
